﻿
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: verdana;
}

.contener-formulario {
    width: 700px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(29, 30, 31, 0.28);
    -moz-box-shadow: 0px 2px 9px 0px rgba(29, 30, 31,0.28);
    box-shadow: 0px 2px 9px 0px rgba(29, 30, 31,0.28);
}

.izquierda {
    width: 50%;
    height: 100%;
    padding-right: 40px;
}

.imagen {
    object-fit: contain;
    width:100%;
    height:auto;
}

.derecha {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid lightgrey;
    padding-left: 40px;
}

.box-header {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: sans-serif;
    padding: 0;
}

.formulario {
    height: auto;
}


#exampleInputEmail1 {
    text-transform: uppercase;
}

.div_bloquear{
    display: none;
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    color: black;
    z-index: 999999;
    opacity: 0.8;
}

.label_form {
    width: 120px;
    color: gray;
    font-family: Verdana;
}

.cbo_form {
    height: 40px;
    width: 250px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
}

.input_form {
    height: 40px;
    width: 250px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-top: 5px;
}

.btn_form {
    background-color: #03a9f4;
    color: #fff;
    padding: 6px 12px;
    margin-bottom: 0PX;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
    font-family: inherit;
    border: 1px solid transparent;
    display: initial;
    width: 250px;
}

.formulario div{
    margin-bottom:20px;
}