﻿/******** ESTILOS HTML *******/

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

input[type="text"] {
    text-transform: uppercase;
}

/********* ESTILOS GENERALES *********/

.title_frm {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.btn_general {
    background-color: #03a9f4;
    color: #fff;
    padding: 6px 12px;
    margin-bottom: 0PX;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
    font-family: inherit;
    border: 1px solid transparent;
    display: initial;
}

.contenedor_master {
    padding: 15px;
}
/********* BLOQUES ******/

.div_bloque{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px;
}

    .div_bloque .title_bloque {
        margin: 0px;
        font-weight: bold;
        position: relative;
        top: -25px;
        color: grey;
        background: white;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        display:initial;
    }

    .div_bloque .label_bloque {
        width: 120px;
        color: grey;
        height: 40px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .div_bloque .label_bloque_mediun {
        width: 300px;
        color: grey;
        height: 40px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .div_bloque .label_bloque_normal {
        width: 400px;
        color: grey;
        height: 40px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .div_bloque .label_bloque_big {
        width: 600px;
        color: grey;
        height: 40px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .div_bloque .cbo_bloque {
        height: 40px;
        width: 300px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .cbo_bloque_small {
        height: 40px;
        width: 100px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .cbo_bloque_mediun {
        height: 40px;
        width: 200px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .input_bloque {
        height: 40px;
        width: 400px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .input_bloque_big {
        height: 40px;
        width: 600px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .input_bloque_small {
        height: 40px;
        width: 100px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .input_bloque_mediun {
        height: 40px;
        width: 200px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .div_bloque .radio_bloque {
        margin-right: 10px;
        margin-left: 10px;
        font-weight: normal;
    }

    .div_bloque .radio_bloque input {
        margin-right: 5px;
    }

    .div_bloque .btn_bloque {
        background-color: #03a9f4;
        color: #fff;
        padding: 6px 12px;
        margin-bottom: 0PX;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border-radius: 4px;
        font-family: inherit;
        border: 1px solid transparent;
        display: initial;
    }


.div_bloquear {
    display: none;
    background-color: gray;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    color: black;
    z-index: 999999;
    opacity: 0.9;
}

/******* DATATABLE JQUERY *******/

.table{
    width: 100%;
}

    .table th{
        text-align:center;
    }

.dataTables_filter {
    margin-bottom: 10px;
}

    .dataTables_filter label {
        font-weight: normal;
        height: 40px;
    }

    .dataTables_filter input {
        height: 40px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        padding: 5px;
    }

/**** MENSAJES VALIDACION ****/

.mensaje_validacion{
    color: red;
    font-weight: normal;
}

/********* MODALES ************/

.modal_seleccionar{
    z-index: 1060; 
}

    .modal_seleccionar tbody tr{

    }

    .modal_seleccionar .btn_seleccionar {
        background-color: #03a9f4;
        color: #fff;
        padding: 6px 12px;
        margin-bottom: 0PX;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border-radius: 4px;
        font-family: inherit;
        border: 1px solid transparent;
        display: initial;
    }

.modal-backdrop {
    visibility: hidden !important;
}

.modal, .in {
    background-color: rgba(0, 0, 0, 0.5);
}

