﻿.box-header {
    margin-bottom: 50px;
}
.form-group.sub-titulo{
    margin-bottom: 35px;
}

label#fecharegistro {
    width: 11%;
    margin-right: 5px;
}
#btnBuscar {
    float:right;
}

button#btnRegistrar {
    float: right;
}

button#btnGuardar {
    float: right;
}

div#MmensajeCaja {
    width: 30%;
}

p#MpmensajeCaja {
    padding-top: 10px;
}

#ape-date {
    width: 90%
}

#date-mov {
    width: 90%
}

.img.ui-datepicker-trigger {
    width: 37px;
    float: right;
    margin-top: -34px;
}

.swal-modal .swal-text {
    text-align: center;
}
