﻿
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    z-index:-2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
nav {
    z-index:100 !important;
}

.barra {
    display: flex;
    width: 100%;
    height: 46px;
    -webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
    margin-top:-20px;
    z-index:100;
}


.barra {
    width: 100%;
    height: 45px;
    background: white;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
}

.lista_horizontal {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 45px;
    margin: auto;
    background: rgb(255, 255, 255);
}

.horizontal_item {
    width: auto;
    list-style: none;
    position: relative;
}

    .horizontal_item::before {
        left: 0px;
        top: 10px;
        height: 45%;
        width: 1px;
        content: "";
        background: rgba(0.20, 0.23, 0.25,0.10);
        position: absolute;
    }

    .horizontal_item:first-child::before {
        display: none;
    }

.horizontal_link {
    display: block;
    height: 100%;
    padding: calc(55px/5);
    text-align: center;
    text-decoration: none;
}

    .horizontal_link:hover, .barra_link:hover, .submenu_link:hover {
        background-color: grey;
        color: white;
    }

.horizontal_item:hover .lista_vertical {
    display: block;
   
}

/* menu vertical */

.lista_vertical {
    position: absolute;
    height: auto;
    width: 200px;
    border: solid 1px rgba(0.20, 0.23, 0.25,0.09);
    line-height: 1.7;
    display: none;
    z-index: 1;
    background: white;
    transition: all 3s;
}


.barra_item {
    border-bottom: solid 1px rgba(0.20, 0.23, 0.25,0.09);
}

    .barra_item:last-child {
        border-bottom: none;
    }

.barra_link {
    display: block;
    padding: calc(55px/10);
}

.barra_item:hover .submenu {
    display: block;
    transition: all 1s;
}


.submenu {
    position: absolute;
    height: auto;
    width: 220px;
    border: solid 1px rgba(0.20, 0.23, 0.25,0.09);
    display: none;
    margin-left: 198px;
    margin-top: -35px;
    background:white;
}

.submenu_item {
    border-bottom: solid 1px rgba(0.20, 0.23, 0.25,0.09);
}

.submenu_link {
    display: block;
    padding: calc(55px/15);
}

p {
    margin: 0;
    padding: 0;
}

.contenedor_dash {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: auto;
}

.grafica {
    height: 450px;
    width: 450px;
    background: rgba(224,224,224,0.2);
    margin: 5px;
    border: solid 1px rgba(224,224,224,0.7);
    border-radius: 5px;
}

.grafica__header {
    height: 100px;
    background: rgba(177, 177, 177, 0.5);
    width: 100%;
    padding: 0px;
    text-align: center;
    display: block;
}






