﻿#id_precio {
    width: 70px;
}

#id_stock {
    width: 73px;
}

#id_almacen {
    width:155px;
}

#id_unidad {
    width: 155px;
}
#id_cantidad {
    width: 79px;
}

input#id_documento, #id_codProducto {
    width: 150px;
}

#id_puntoEntrega {
    width: 200px;
}

#labelPrecio, #lavelStock, #labelAlmacen, #labelUnidad, #labelCantidad {
    margin-right: 5px;
}

#d{
    width:1px;
}
