﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage_Loyout.Master" AutoEventWireup="true" CodeBehind="panelControl.aspx.cs" Inherits="VirgenCarmenMantenedor.panelControl" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<%--<link href="css/Chart.css" rel="stylesheet" />--%>
<%--<script src="Scripts/Chart.js"></script>--%>
<%--<script src="Scripts/graficas.js"></script>--%>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 <%--<div class="contenedor_dash">
        <div class="grafica">
            <div class="grafica__header">
                <p>Gráfica de ventas diarias</p>
                <div class="form-group">
                    <label for="">Tipo de agrupamiento</label>
                    <select class="form-control"> 
                        <option value="1">Dia</option>
                        <option value="2">MES</option>
                        <option value="3">AÑO</option>
                    </select>
                    
                </div>
            </div>
            <div class="grafica__body">
                <canvas id="ventas" width="350" height="300">

                </canvas>
            </div>
        </div>
    </div>--%>
</asp:Content>
